@font-face {
    font-family: 'Vazir';
    src: url('./Vazir-Thin.ttf');
    src: url('./Vazir-Thin.eot?#iefix') format('embedded-opentype'),
        url('./Vazir-Thin.woff2') format('woff2'),
        url('./Vazir-Thin.woff') format('woff'),
        url('./Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}